div.primero{
text-align: center;
}


h1{
    margin-bottom: 0;
} 

h3{
 margin-top: 0;
 text-align: right;
 transform: translateX(-450px);
}

div#listas{
 padding: 100px;
 transform: translateY(-70px);
 position: fixed;
 max-width: 300px;
}

.párrafo{
    position: absolute;
    bottom: 10%;
    text-align: center;
    width: 100%;
    
}

div#yo{
  height: 100%;
  text-align: center;
 min-width: 1000px;
 line-height:150% ;
}

body{
    overflow-x:hidden;
    background-image:url(https://cdn.discordapp.com/attachments/1073442965952933958/1133582350006108210/Diseno_sin_titulo.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#mifoto{

    display: flex;
    justify-content: center;
    align-items: center;
}
#mifoto img{
    width: 300px;
    height: auto;
    border-radius: 50%;
    position: fixed;
    padding: 15px;
    transform: translateY(130px);
}

#vincularme{
    float: right;
}
.contacto{
    width: 100px;
    height: auto;
    border-radius: 20%;
}